In [1]:
import pandas as pd
import numpy as np

In [2]:
Collection = pd.read_excel("R_ClinicalRecor1513_15032020_012013.xlsx", sheet_name="Sheet1")

In [3]:
Collection.head()

    Code Diabetes Type HgA1C(%)
0  C0160             N      5.2
1  C0163             N      5.5
2  C0176             N      5.6
3  C0182             N      5.3
4  C0187             N      5.5

In [4]:
Collection["Healthy"] = Collection["Diabetes Type"].apply(lambda x: "W" if x == 'N' or x == "I" or x == "O" or str(x) == "nan" else "P")

In [5]:
Collection.head()

    Code Diabetes Type HgA1C(%) Healthy
0  C0160             N      5.2       W
1  C0163             N      5.5       W
2  C0176             N      5.6       W
3  C0182             N      5.3       W
4  C0187             N      5.5       W

In [6]:
Patients_Diabetes_Type = {}

In [7]:
for Row in Collection.iterrows():
    Patients_Diabetes_Type[Row[1][0]] = {}
    Patients_Diabetes_Type[Row[1][0]]["Diabetes_Type"] = Row[1][1]
    Patients_Diabetes_Type[Row[1][0]]["HgA1C(%)"] = Row[1][2]
    Patients_Diabetes_Type[Row[1][0]]["Healthy"] = Row[1][3]

In [8]:
A[1][0]

NameError: name 'A' is not defined

In [ ]:
Patients_Diabetes_Type

In [17]:
import pickle
pickle.dump(Patients_Diabetes_Type, open("Patients_Diabetes_Type.p", "wb" ))

In [18]:
Test = pickle.load(open( "Patients_Diabetes_Type.p", "rb" ))

# Manipulating Excel Files

In [8]:
import pandas as pd
import numpy as np
import os

In [19]:
# Files = ['1h_Intervals_AllPAtients.xlsx',]
#  '2h_Intervals_AllPAtients.xlsx',
#  '4h_Intervals_AllPAtients.xlsx',
#  '5h_Intervals_AllPAtients.xlsx',
#  '6h_Intervals_AllPAtients.xlsx',
#  '8h_Intervals_AllPAtients.xlsx']
Files = ["Results_153_Patients.xlsx"]

In [10]:
Files.append("8h_Interval_Results/" + os.listdir("8h_Interval_Results/")[1])

In [20]:
Files

['Results_153_Patients.xlsx']

In [21]:
def Healthy(Patient_ID):
    global Patients_Diabetes_Type
    return Patients_Diabetes_Type[Patient_ID]["Healthy"]
def Glucose(Patient_ID):
    global Patients_Diabetes_Type
    return Patients_Diabetes_Type[Patient_ID]["HgA1C(%)"]
def Diabetes_Type_Patient(Patient_ID):
    global Patients_Diabetes_Type
    return Patients_Diabetes_Type[Patient_ID]["Diabetes_Type"]

In [22]:
Datas = pd.read_excel(Files[0])
Datas.head()

,Unnamed: 0,ID,Date,Average_SDNN,Average_rMSSD,STD_SDNN,STD_rMSSD,Duration,End
0,0,C0160,16_11_2018_142000-16_11_2018_142100,11.468606,7.981343,3.054286,1.039755,22.8359,14:20:49.843750
1,1,C0160,17_11_2018_093200-17_11_2018_093800,11.301456,10.388965,3.375799,1.915956,213.8907,09:37:40.226562
2,2,C0161,20_11_2018_120700-20_11_2018_192830,19.250094,14.868840,7.796012,8.032299,21685.9367,19:28:16.140625
3,3,C0161,21_11_2018_140000-21_11_2018_181300,16.810952,16.783862,7.298733,9.067535,9975.4293,18:12:32.367188
4,4,C0161,21_11_2018_181330-21_11_2018_194200,16.788228,16.873601,7.332297,7.908673,3425.6404,19:41:07.484375

In [23]:
Datas["Healthy"] = Datas["ID"].apply(Healthy)
Datas["HgA1C(%)"] = Datas["ID"].apply(Glucose)
Datas["Diabetes_Type"] = Datas["ID"].apply(Diabetes_Type_Patient)

In [24]:
Datas

,Unnamed: 0,ID,Date,Average_SDNN,Average_rMSSD,STD_SDNN,STD_rMSSD,Duration,End,Healthy,HgA1C(%),Diabetes_Type
0,0,C0160,16_11_2018_142000-16_11_2018_142100,11.468606,7.981343,3.054286,1.039755,22.8359,14:20:49.843750,W,5.2,N
1,1,C0160,17_11_2018_093200-17_11_2018_093800,11.301456,10.388965,3.375799,1.915956,213.8907,09:37:40.226562,W,5.2,N
2,2,C0161,20_11_2018_120700-20_11_2018_192830,19.250094,14.868840,7.796012,8.032299,21685.9367,19:28:16.140625,W,5.8,I
3,3,C0161,21_11_2018_140000-21_11_2018_181300,16.810952,16.783862,7.298733,9.067535,9975.4293,18:12:32.367188,W,5.8,I
4,4,C0161,21_11_2018_181330-21_11_2018_194200,16.788228,16.873601,7.332297,7.908673,3425.6404,19:41:07.484375,W,5.8,I
...,...,...,...,...,...,...,...,...,...,...,...,...
662,662,DCP_00141,04_02_2020_173130-04_02_2020_173230,8.889629,10.228964,0.000000,0.000000,22.3906,17:32:06.179688,W,6,O
663,663,DCP_00141,04_02_2020_184430-05_02_2020_000000,23.427036,21.280624,9.371105,9.944824,8581.3204,23:59:55.757812,W,6,O
664,664,DCP_00141,05_02_2020_000000-05_02_2020_080430,29.676005,29.648948,9.918009,10.914946,17922.8992,08:04:01.937500,W,6,O
665,665,DCP_00142,05_02_2020_111230-06_02_2020_000000,27.655712,20.023052,10.463158,8.757980,33160.0312,23:58:41.960938,W,5.8,I
666,666,DCP_00142,06_02_2020_000000-06_02_2020_083400,31.655529,24.923740,10.557721,8.059380,18050.3914,08:33:50.562500,W,5.8,I

In [25]:
Datas["End"].unique()

array(['14:20:49.843750', '09:37:40.226562', '19:28:16.140625',
       '18:12:32.367188', '19:41:07.484375', '20:47:15.421875',
       '09:24:23.218750', '14:52:51.898438', '22:11:49.468750',
       '23:59:34.718750', '01:05:55.976562', '07:15:47.015625',
       '10:33:24', '14:16:33.101562', '23:58:42.726562',
       '23:55:07.703125', '05:07:05.382812', '23:59:20.695312',
       '07:36:53.765625', '23:59:51.726562', '12:50:16.476562',
       '23:59:20.671875', '05:55:16.250000', '16:30:18.328125',
       '15:49:22.078125', '16:34:57.289062', '16:48:58.609375',
       '18:20:06.953125', '23:59:40.343750', '07:38:44.695312',
       '23:59:46.156250', '22:31:45.492188', '23:57:19.679688',
       '13:16:17.625000', '18:33:39.960938', '16:56:06.710938',
       '23:50:24.101562', '10:28:07', '10:45:49.515625',
       '23:57:49.382812', '03:14:50.382812', '14:02:37.539062',
       '18:44:28.093750', '20:38:34.398438', '16:01:07.117188',
       '19:44:54.781250', '20:13:35.062500', '20:44:33.742188',
       '20:55:51.906250', '23:59:22.992188', '10:51:03.812500',
       '10:59:32.492188', '11:38:23.078125', '11:59:59.890625',
       '14:51:15.210938', '17:18:50.875000', '19:45:06.039062',
       '20:29:15.242188', '23:59:08.906250', '05:41:50.429688',
       '10:10:25.578125', '10:14:20.093750', '23:59:36.414062',
       '23:59:39.351562', '17:09:07.601562', '23:59:42.867188',
       '12:46:08.398438', '18:45:39.960938', '23:22:43.437500',
       '23:59:15.140625', '21:02:31.156250', '23:59:54.820312',
       '08:33:13.007812', '23:58:38.250000', '10:20:34.914062',
       '23:59:05.851562', '11:23:07.984375', '22:40:59.601562',
       '23:18:10.015625', '23:58:56.929688', '06:36:30.367188',
       '10:03:44', '23:59:33.437500', '10:05:29.359375',
       '23:59:35.437500', '05:55:17.250000', '20:13:35.125000',
       '13:03:32.554688', '23:51:29.570312', '08:08:44.976562',
       '10:59:09.226562', '23:18:45.742188', '13:05:53.125000',
       '15:41:46', '16:16:51.171875', '16:32:51.328125',
       '17:02:33.796875', '17:37:39.226562', '15:35:45.460938',
       '16:17:28.328125', '23:01:26.507812', '23:58:26.726562',
       '08:52:03.546875', '11:08:12.609375', '11:18:55.242188',
       '13:59:02.101562', '08:59:59.796875', '20:28:45.890625',
       '23:58:04.890625', '07:18:13.937500', '23:59:27.671875',
       '11:01:28.015625', '13:05:51.726562', '17:49:12.687500',
       '23:59:58.421875', '09:00:41.125000', '15:32:22.468750',
       '16:45:48.257812', '17:03:32.820312', '17:09:35.109375',
       '17:31:57.414062', '18:36:44.320312', '19:17:44.953125',
       '19:47:44.585938', '21:43:28.171875', '23:35:48.562500',
       '11:47:31.562500', '07:13:12.593750', '14:28:07.937500',
       '23:59:42.546875', '21:23:09.601562', '23:59:58.179688',
       '02:24:22.335938', '12:19:30.265625', '13:03:05.984375',
       '16:02:08.429688', '20:18:18.585938', '20:48:09.968750',
       '21:55:14.367188', '23:59:29.289062', '08:40:39.960938',
       '11:12:10.281250', '23:49:01.648438', '18:10:19.234375',
       '12:30:41.351562', '13:34:08.273438', '16:11:26.390625',
       '18:48:59.789062', '19:07:04.398438', '20:41:15.710938',
       '22:13:30.945312', '23:59:13.523438', '07:18:21.078125',
       '21:29:21.015625', '23:59:37.054688', '08:01:35.101562',
       '09:35:27.968750', '23:59:21.875000', '09:42:56.234375',
       '10:44:42.179688', '23:59:45.492188', '14:49:09.515625',
       '19:48:57.726562', '23:59:56.695312', '00:26:14.453125',
       '17:11:59.070312', '23:52:15.062500', '13:25:29.945312',
       '23:59:39.625000', '23:43:58.546875', '08:11:47.976562',
       '16:03:42.773438', '22:42:11.015625', '01:39:55.609375',
       '20:12:39.343750', '23:55:22.710938', '14:32:03.343750',
       '19:19:22.093750', '23:45:43.945312', '01:17:13.609375',
       '09:28:14.914062', '13:04:32.265625', '12:36:42.304688',
       '14:16:09.843750', '16:17:07.187500', '23:55:53.968750',
       '06:40:27.031250', '06:57:14.539062', '18:56:11.328125',
       '22:46:19.296875', '23:59:47.617188', '08:52:14.046875',
       '23:35:10.867188', '23:59:27.351562', '11:30:03.804688',
       '11:35:11.695312', '12:28:49.460938', '15:04:29.273438',
       '18:59:20.046875', '20:48:00.679688', '20:59:52.437500',
       '23:53:12.039062', '07:38:59.351562', '11:18:23.679688',
       '14:26:45.023438', '17:29:09.750000', '17:31:10.710938',
       '23:31:25.140625', '04:01:18.703125', '10:18:02.093750',
       '10:46:16.750000', '20:16:07.015625', '23:59:23.687500',
       '08:15:19.453125', '08:20:52.710938', '08:26:00.882812',
       '08:45:28.859375', '09:04:49.085938', '11:04:56.273438',
       '12:05:31.125000', '12:37:06.179688', '13:54:48.109375',
       '15:08:10.328125', '18:06:37.718750', '18:13:47.515625',
       '23:59:51.328125', '01:49:27.234375', '23:51:37.078125',
       '23:58:00.140625', '03:32:22.742188', '08:40:43.476562',
       '11:49:56.992188', '13:55:25.718750', '14:15:37.531250',
       '15:11:12.546875', '15:56:54.226562', '19:07:39.687500',
       '23:58:56.562500', '01:35:28.265625', '23:59:45.312500',
       '23:59:02.242188', '23:53:16.296875', '13:53:58.203125',
       '23:40:55', '07:11:42.843750', '23:16:37.195312',
       '12:35:16.851562', '15:56:34.335938', '16:06:43.328125',
       '23:49:49.773438', '02:40:34.273438', '20:30:57.804688',
       '22:15:14.234375', '23:21:53.484375', '23:59:29.265625',
       '12:23:49.132812', '15:21:52.554688', '17:55:38.312500',
       '19:36:48.070312', '20:30:26.507812', '23:49:24.796875',
       '07:06:38.648438', '19:16:30.218750', '02:58:54.562500',
       '06:59:59.390625', '08:29:01.781250', '10:16:33.265625',
       '23:51:09.054688', '07:34:27.031250', '23:59:26.625000',
       '10:08:13.296875', '10:57:50.242188', '11:32:14.664062',
       '15:16:52.492188', '23:47:21.429688', '17:32:03.601562',
       '23:59:42.062500', '11:45:14.304688', '12:44:50.617188',
       '08:07:20.875000', '11:39:12.359375', '14:21:50.953125',
       '17:12:51.890625', '23:53:28.601562', '07:48:49.343750',
       '20:56:34.937500', '23:44:40.007812', '01:42:22.007812',
       '23:59:45.375000', '08:06:03.460938', '23:57:10.664062',
       '07:33:57.187500', '11:54:15.585938', '13:04:01.828125',
       '16:33:47.687500', '19:19:48.617188', '23:59:50.664062',
       '01:59:59.562500', '04:00:57.335938', '23:59:56.226562',
       '05:15:31.851562', '23:51:41.359375', '06:31:19.726562',
       '23:59:57.429688', '05:40:34.765625', '20:40:58.046875',
       '23:50:56.359375', '05:47:35.250000', '06:29:43.265625',
       '09:06:31.234375', '23:56:32.062500', '20:05:49.289062',
       '23:59:51.960938', '01:30:27.671875', '07:28:01.226562',
       '23:59:56.789062', '23:04:05.109375', '06:03:41.289062',
       '23:59:58.359375', '06:49:59.367188', '23:58:23.304688',
       '06:57:35.710938', '17:40:46.351562', '18:39:36.210938',
       '21:10:00.929688', '03:06:49.546875', '08:36:01.328125',
       '23:59:15.328125', '09:13:00.648438', '14:57:49.992188',
       '21:08:49.539062', '23:58:46.296875', '06:48:13.781250',
       '15:07:06.804688', '15:19:03.609375', '17:29:48.960938',
       '18:38:23.796875', '19:01:37.976562', '20:37:02.421875',
       '22:00:37.117188', '22:22:28.101562', '22:51:17.875000',
       '04:47:47.726562', '23:59:58.890625', '06:53:45.421875',
       '11:27:42.562500', '18:12:32.859375', '23:59:43.492188',
       '00:06:59.820312', '17:01:42.515625', '23:59:42.882812',
       '14:38:56.554688', '17:02:38.367188', '23:59:53.898438',
       '13:04:18.968750', '23:59:48.703125', '08:01:17.257812',
       '23:59:37.406250', '06:37:10.109375', '16:59:45.414062',
       '21:26:45.820312', '23:54:08.304688', '06:53:44.046875',
       '17:21:22.023438', '23:50:54.914062', '06:54:10.523438',
       '20:05:55.523438', '23:59:26.953125', '06:57:09.445312',
       '23:37:08.328125', '07:14:53.820312', '23:59:27.085938',
       '05:41:26.679688', '07:08:16.218750', '23:56:01.187500',
       '23:56:59.859375', '15:45:52.031250', '23:29:16.679688',
       '07:46:47.085938', '21:36:34.679688', '21:53:30.929688',
       '23:57:19.390625', '09:35:24.906250', '23:51:00.945312',
       '04:56:36.820312', '17:49:44.414062', '03:37:05.179688',
       '07:51:28.562500', '04:14:39.898438', '14:22:12.593750',
       '23:59:13.140625', '14:00:22.625000', '23:57:42.304688',
       '02:33:52', '20:11:00.765625', '22:43:03.320312',
       '23:59:47.375000', '06:37:27.531250', '07:00:57.125000',
       '23:46:27.140625', '08:05:01.601562', '12:01:33.875000',
       '23:53:34.617188', '04:59:14.367188', '23:58:17.921875',
       '07:42:14.570312', '23:59:34.976562', '07:38:41.539062',
       '07:41:30.648438', '21:04:04.804688', '23:57:37.390625',
       '06:26:54.507812', '23:59:46.937500', '06:28:02.671875',
       '16:17:26.382812', '16:26:30.562500', '17:59:46.890625',
       '18:03:23.203125', '18:12:23.992188', '20:19:25.867188',
       '22:04:56.734375', '23:46:34.921875', '23:40:36.906250',
       '23:59:50.507812', '07:35:09.906250', '23:59:25.710938',
       '07:47:38.195312', '23:59:57.062500', '01:26:31.718750',
       '07:43:43', '23:59:37.375000', '07:57:00', '23:59:50.078125',
       '08:02:58.812500', '23:26:31.351562', '07:40:17.398438',
       '17:30:28.859375', '23:51:27.101562', '07:36:09.070312',
       '09:01:42.828125', '09:49:22.968750', '10:42:56.671875',
       '13:36:24.640625', '18:17:18.539062', '19:24:55.773438',
       '21:31:04.054688', '21:37:22.914062', '21:58:24.593750',
       '22:09:48.640625', '23:17:22.039062', '23:22:42.984375',
       '23:51:42.226562', '03:09:42.445312', '04:52:47.179688',
       '07:09:40.484375', '15:13:18.796875', '23:55:03.046875',
       '06:00:56.070312', '23:59:45.523438', '07:59:48.195312',
       '12:12:49.273438', '17:57:44.125000', '20:58:47.984375',
       '21:17:58.242188', '23:36:15.375000', '00:15:59.609375',
       '07:25:16.226562', '07:51:59.140625', '23:51:40.546875',
       '07:43:35.617188', '08:42:56.468750', '23:47:27.117188',
       '07:56:40.703125', '17:35:20.804688', '19:36:10.796875',
       '19:57:28.898438', '07:31:11.187500', '14:39:45',
       '23:01:09.492188', '23:59:28.062500', '00:20:13.398438',
       '04:37:51.445312', '07:07:33.085938', '20:14:40.125000',
       '23:57:59.515625', '07:04:32.671875', '23:59:48.421875',
       '00:10:22.179688', '00:15:55.523438', '00:19:01.273438',
       '00:33:43.421875', '19:07:33.718750', '17:13:44.992188',
       '11:40:00.953125', '14:52:55.812500', '20:52:46.953125',
       '23:57:54.367188', '02:51:22.046875', '12:34:57.140625',
       '23:59:58.335938', '12:31:56.757812', '19:37:11.617188',
       '23:23:14.257812', '09:17:34.109375', '23:58:04.289062',
       '09:05:32.257812', '12:18:06.515625', '19:50:59.539062',
       '14:36:30.585938', '16:04:21.507812', '20:39:19.906250',
       '23:55:47.773438', '03:12:31.953125', '04:38:33.148438',
       '07:18:59.625000', '23:57:14.203125', '06:25:48.031250',
       '23:59:05.976562', '15:46:12.453125', '23:58:02.945312',
       '08:03:05.898438', '20:37:23.304688', '20:19:59.984375',
       '23:39:07.375000', '23:59:26.109375', '08:18:09.484375',
       '20:17:11.281250', '23:59:00.601562', '03:13:15.351562',
       '07:44:21.507812', '10:55:46.039062', '17:36:54.382812',
       '19:53:10.750000', '22:05:40.265625', '23:59:17.375000',
       '00:16:58.507812', '02:54:48.304688', '07:31:45.679688',
       '18:14:00.382812', '21:45:46.460938', '03:22:50.695312',
       '04:33:15.093750', '05:58:15.031250', '07:23:10.726562',
       '11:19:30.710938', '11:32:04.632812', '13:55:58.101562',
       '14:20:27.921875', '17:13:16.148438', '22:22:46.187500',
       '23:42:39.804688', '08:42:01.046875', '23:38:23.953125',
       '08:05:46.593750', '21:02:40.460938', '23:57:59.375000',
       '09:13:27.273438', '21:26:20.085938', '23:59:23.031250',
       '07:03:37.445312', '16:31:07.070312', '17:31:10.468750',
       '20:04:10.546875', '23:48:58.539062', '01:33:29.937500',
       '07:39:19.789062', '23:56:36.695312', '07:36:46.273438',
       '19:54:00.015625', '23:59:36.093750', '02:01:19.289062',
       '07:08:49.382812', '08:15:39.695312', '23:58:19.687500',
       '07:16:59.640625', '19:59:39.960938', '20:58:18.179688',
       '21:48:35.226562', '23:59:42.382812', '00:01:52.585938',
       '07:29:02.250000', '01:43:56.734375', '03:23:00.515625',
       '05:09:29.296875', '07:49:44.890625', '08:07:58.492188',
       '21:51:51.140625', '23:59:43.218750', '01:18:25.343750',
       '10:56:28.195312', '11:12:20.882812', '12:54:28',
       '14:28:27.648438', '16:04:57.250000', '16:22:36.765625',
       '16:50:37.929688', '17:10:35.578125', '17:22:06.914062',
       '17:43:00.093750', '17:50:46.460938', '21:12:41.085938',
       '23:58:35.046875', '19:43:27.648438', '21:53:32.046875',
       '14:45:53.609375', '10:03:15.398438', '17:33:48.453125',
       '19:34:38.093750', '23:52:23.867188', '23:59:44.828125',
       '07:39:48.109375', '10:39:06.046875', '14:31:41.406250',
       '00:47:13.546875', '23:53:39.898438', '03:29:23.734375',
       '23:59:37.601562', '10:25:36.382812', '23:54:45.562500',
       '10:56:47.859375', '23:50:50.640625', '10:48:26.921875',
       '14:25:38.750000', '23:59:09.406250', '18:53:25.328125',
       '19:28:05.093750', '23:59:15.203125', '12:50:13.007812',
       '23:59:52.148438', '23:59:07.890625', '12:27:05.148438',
       '23:59:38.132812', '23:56:56.609375', '10:04:22.398438',
       '23:57:30.578125', '07:17:32.804688', '23:59:52.914062',
       '11:10:22.875000', '23:59:57.562500', '00:49:08.789062',
       '23:59:30.265625', '07:52:19.593750', '23:58:53.093750',
       '08:02:43.960938', '17:26:27.398438', '17:32:06.179688',
       '23:59:55.757812', '08:04:01.937500', '23:58:41.960938',
       '08:33:50.562500'], dtype=object)

In [26]:
def New_Class(X):
    try:
        if float(X) < 6.5:
            return "G"
        else:
            return "B"
    except:
        return "-"

# Datas.drop(Datas.loc[Datas["HgA1C(%)"] == "-"].index, inplace=True)

Datas["New_Class"] = Datas["HgA1C(%)"].apply(New_Class)
Datas.head(11)

,Unnamed: 0,ID,Date,Average_SDNN,Average_rMSSD,STD_SDNN,STD_rMSSD,Duration,End,Healthy,HgA1C(%),Diabetes_Type,New_Class
0,0,C0160,16_11_2018_142000-16_11_2018_142100,11.468606,7.981343,3.054286,1.039755,22.8359,14:20:49.843750,W,5.2,N,G
1,1,C0160,17_11_2018_093200-17_11_2018_093800,11.301456,10.388965,3.375799,1.915956,213.8907,09:37:40.226562,W,5.2,N,G
2,2,C0161,20_11_2018_120700-20_11_2018_192830,19.250094,14.868840,7.796012,8.032299,21685.9367,19:28:16.140625,W,5.8,I,G
3,3,C0161,21_11_2018_140000-21_11_2018_181300,16.810952,16.783862,7.298733,9.067535,9975.4293,18:12:32.367188,W,5.8,I,G
4,4,C0161,21_11_2018_181330-21_11_2018_194200,16.788228,16.873601,7.332297,7.908673,3425.6404,19:41:07.484375,W,5.8,I,G
5,5,C0161,21_11_2018_194400-21_11_2018_204800,13.939628,14.429391,6.657385,6.610921,2038.0236,20:47:15.421875,W,5.8,I,G
6,6,C0161,22_11_2018_000000-22_11_2018_092830,19.642148,16.790252,8.885855,7.788009,19774.3207,09:24:23.218750,W,5.8,I,G
7,7,C0163,23_11_2018_111900-23_11_2018_145400,23.567332,13.453797,10.283925,4.408074,9932.7506,14:52:51.898438,W,5.5,N,G
8,8,C0163,23_11_2018_171800-23_11_2018_221300,23.298696,14.440658,10.939687,6.513306,13750.6643,22:11:49.468750,W,5.5,N,G
9,9,C0163,23_11_2018_221430-24_11_2018_000000,22.390091,15.314379,10.622917,6.415600,5382.2891,23:59:34.718750,W,5.5,N,G
10,10,C0163,24_11_2018_000000-24_11_2018_011600,26.243556,21.647577,8.517176,4.329132,1576.7187,01:05:55.976562,W,5.5,N,G

In [27]:
Datas.shape

(667, 13)

In [28]:
Datas.to_excel(Files[0], index=False)